html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard main";
}

/* Main */
main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-area: main;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 30px;
    background-color: #e2e8f0;
    gap: 30px;
}

.project-inner {
    display: grid;
    gap: 20px;
    padding-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    
    
}

.card1 {
    /* grid-column: 1; */
}

.card2 {
    /* grid-column: 3 / 5; */
}
.card3 {
    /* grid-column: 1 / span 2;
    grid-row: 2 / 3; */
}
.card4 {
    /* grid-column: 3 / 5;
    grid-row: 2; */
    
}  
.card5 {
    
    /* grid-column: 3 / 5;
    grid-row: 3 / 4; */
} 
.card6 {
    
    /* grid-column: 3 / 5;
    grid-row: 3 / 4; */
}
 .card7 {
     
    /* grid-column: 5;
    grid-row: 1 / 2; */
}

.card8 {
   
    /* grid-column: 5;
    grid-row: 2 / 3; */
}


/* Header */
.header-info {
    display: grid;
    grid-template-columns: 80px 400px;
    padding-top: 20px;
    
}

.header-info > img {
    width: 70%;
    border-radius: 50%;
    align-self: center;
}

header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-area: header;
    padding-top: 20px;
    padding-left: 30px;
}

.header-first > #search {
    display: grid;
    gap: 20px;
}

.header-second {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
}
#second-icons {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 70px 60px 200px;
    grid-auto-flow: row;
    align-items: start;
    margin-left: 40px;
}
#second-icons > img {
    width: 50%;
    border-radius: 50%;
}

#second-icons > .iconify {
    width: 100%;
    
}

#search {
    display: grid;
    grid-template-columns: 20px 500px;
}

#search > input {
    border-radius: 10px;
    border: none;
    background-color: #e5e7eb;
    padding: 2px 10px;
    
}

.header-buttons > button {
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    padding: 6px 20px;
    color: #fff;
    background-color: #3b82f6;
    cursor: pointer;
    margin-top: 20px;
    
    
}

.header-buttons {
    
    /* grid-column: 1; */
}

/* Dashboard */

.dashboard {
    display: grid;
    grid-area: dashboard;
    grid-template-rows: 90px 350px auto;
    padding-left: 20px;
    background-color: #3b82f6;
    padding-top: 20px;
    
}
.dashboard-head {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 45px 80px;
    
}

.dashboard-head > span:nth-child(2) {
    font-size: 1.2rem;
    margin-top: 3px;
}
.dashboard-head > .iconify {
    font-size: 1.8rem;
}
.dashboard-head, .dashboard-body, 
.dashboard-footer  {
    color: #fff;
    font-weight: lighter;
}

.dashboard-body, .dashboard-footer {
    margin-left: 10px;
}

.dashboard-body > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35px 80px;
    margin-bottom: 20px;
    
    
}
.dashboard-footer > div {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 35px 80px;
    margin-bottom: 20px;
    
    
}

.dashboard-head > .iconify {
    
}

/* Card */
.card {
    position: relative;
    background-color: #f8fafc;
    padding-bottom: 5em;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 40px;
    border-radius: 8px;
    border-left: #fbbf24 solid 8px;
    font-size: 90%;
    
}

.card > .main-icons {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-right: 10px;
    font-size: larger;
}

/* .card > .main-icons > span {
    margin-right: 10px;
} */



