html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard main";
}

main {
    grid-area: main;
}

header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-area: header;
}

.dashboard {
    display: grid;
    grid-area: dashboard;
    grid-template-rows: 100px 400px auto;
    padding-left: 20px;
    /* border: 2px #000 solid; */
}

#search-icons {
    display: grid;
    grid-auto-flow: column;
}

.header-info {
    display: grid;
    grid-template-columns: 100px 400px;
}

#search {
    display: grid;
    grid-template-columns: 20px 400px;
}

/* .dashboard > div {
    display: inline-block;
} */

